<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listDetails">
            <h2><span jhiTranslate="mFinder2App.listDetails.detail.title">List Details</span> {{listDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.listDetails.list">List</span></dt>
                <dd>
                    <div *ngIf="listDetails.listId">
                        <a [routerLink]="['/reproduction-lists', listDetails.listId, 'view']">{{listDetails.listId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/list-details', listDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
