<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="songs">
            <h2><span jhiTranslate="mFinder2App.songs.detail.title">Songs</span> {{songs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.songs.name">Name</span></dt>
                <dd>
                    <span>{{songs.name}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="songs.picture">
                        <a (click)="openFile(songs.pictureContentType, songs.picture)" jhiTranslate="entity.action.open">open</a>
                        {{songs.pictureContentType}}, {{byteSize(songs.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.duration">Duration</span></dt>
                <dd>
                    <span>{{songs.duration}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.audio">Audio</span></dt>
                <dd>
                    <div *ngIf="songs.audio">
                        <a (click)="openFile(songs.audioContentType, songs.audio)" jhiTranslate="entity.action.open">open</a>
                        {{songs.audioContentType}}, {{byteSize(songs.audio)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.artists">Artists</span></dt>
                <dd>
                    <span>{{songs.artists}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.musicGenre">Music Genre</span></dt>
                <dd>
                    <div *ngIf="songs.musicGenreId">
                        <a [routerLink]="['/music-genres', songs.musicGenreId, 'view']">{{songs.musicGenreId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.album">Album</span></dt>
                <dd>
                    <div *ngIf="songs.albumId">
                        <a [routerLink]="['/albums', songs.albumId, 'view']">{{songs.albumId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.songs.listDetails">List Details</span></dt>
                <dd>
                    <div *ngIf="songs.listDetailsId">
                        <a [routerLink]="['/list-details', songs.listDetailsId, 'view']">{{songs.listDetailsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/songs', songs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
