<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="Song">
            <h2><span jhiTranslate="mFinder2App.Song.detail.title">Song</span> {{Song.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.Song.name">Name</span></dt>
                <dd>
                    <span>{{Song.name}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="Song.picture">
                        <a (click)="openFile(Song.pictureContentType, Song.picture)" jhiTranslate="entity.action.open">open</a>
                        {{Song.pictureContentType}}, {{byteSize(Song.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.duration">Duration</span></dt>
                <dd>
                    <span>{{Song.duration}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.audio">Audio</span></dt>
                <dd>
                    <div *ngIf="Song.audio">
                        <a (click)="openFile(Song.audioContentType, Song.audio)" jhiTranslate="entity.action.open">open</a>
                        {{Song.audioContentType}}, {{byteSize(Song.audio)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.artists">Artists</span></dt>
                <dd>
                    <span>{{Song.artists}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.musicGenre">Music Genre</span></dt>
                <dd>
                    <div *ngIf="Song.musicGenreId">
                        <a [routerLink]="['/music-genres', Song.musicGenreId, 'view']">{{Song.musicGenreId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.Album">Album</span></dt>
                <dd>
                    <div *ngIf="Song.AlbumId">
                        <a [routerLink]="['/Album', Song.AlbumId, 'view']">{{Song.AlbumId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Song.listDetails">List Details</span></dt>
                <dd>
                    <div *ngIf="Song.listDetailsId">
                        <a [routerLink]="['/list-details', Song.listDetailsId, 'view']">{{Song.listDetailsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/Song', Song.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
