<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="Album">
            <h2><span jhiTranslate="mFinder2App.Album.detail.title">Album</span> {{Album.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.Album.name">Name</span></dt>
                <dd>
                    <span>{{Album.name}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Album.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="Album.picture">
                        <a (click)="openFile(Album.pictureContentType, Album.picture)" jhiTranslate="entity.action.open">open</a>
                        {{Album.pictureContentType}}, {{byteSize(Album.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mFinder2App.Album.publicationDate">Publication Date</span></dt>
                <dd>
                    <span>{{Album.publicationDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/Album', Album.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
