<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="FavoriteList">
            <h2><span jhiTranslate="mFinder2App.FavoriteList.detail.title">Reproduction Lists</span> {{FavoriteList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.FavoriteList.name">Name</span></dt>
                <dd>
                    <span>{{FavoriteList.name}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.FavoriteList.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="FavoriteList.picture">
                        <a (click)="openFile(FavoriteList.pictureContentType, FavoriteList.picture)" jhiTranslate="entity.action.open">open</a>
                        {{FavoriteList.pictureContentType}}, {{byteSize(FavoriteList.picture)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reproduction-lists', FavoriteList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
