<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reproductionLists">
            <h2><span jhiTranslate="mFinder2App.reproductionLists.detail.title">Reproduction Lists</span> {{reproductionLists.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mFinder2App.reproductionLists.name">Name</span></dt>
                <dd>
                    <span>{{reproductionLists.name}}</span>
                </dd>
                <dt><span jhiTranslate="mFinder2App.reproductionLists.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="reproductionLists.picture">
                        <a (click)="openFile(reproductionLists.pictureContentType, reproductionLists.picture)" jhiTranslate="entity.action.open">open</a>
                        {{reproductionLists.pictureContentType}}, {{byteSize(reproductionLists.picture)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reproduction-lists', reproductionLists.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
